<div class="contact-details">
    <form method="post">
        <input type="text" placeholder="ID" name="BlogId" value="@ViewBag.deger" required />
        <input type="text" placeholder="UserName" name="KullaniciAdi" required />
        <input type="text" placeholder="Email" name="Maill" required />
        <textarea placeholder="Message" name="Yorum"></textarea>
        <input type="submit" value="SEND" />
    </form>
</div>